* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}



body {
  display: flex;
  background: #fafafa;
}

/* MENU LATERAL */
.menu-lateral {
  width: 220px;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-shrink: 0;
}

.logo-area {
  text-align: center;
  margin-bottom: 20px;
}

.logo-area img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo-area h2 {
  font-size: 20px;
  letter-spacing: 2px;
}

.menu-lateral nav ul {
  list-style: none;
}

.menu-lateral nav ul li {
  padding: 12px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  border-left: 3px solid transparent;
}

.menu-lateral nav ul li:hover {
  border-left: 3px solid white;
  background-color: #111;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
  flex: 1;
  height: 100vh;
  padding: 20px 40px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho do perfil */
.cabecalho-perfil {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cabecalho-perfil img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.cabecalho-perfil .info h1 {
  font-size: 24px;
  font-weight: bold;
}

.cabecalho-perfil .info p a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.linha {
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

/* Recentes + botão */
.recentes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recentes h2 {
  font-size: 16px;
}

.add-btn {
  font-size: 22px;
  background: #000;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Galeria */
.galeria {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  overflow: hidden;
}

.galeria img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}
